/*OVERWRITING CSS*/

body {
    padding-top: 50px;
    padding-bottom: 20px;
    /*Custom body background*/
    background-color: #282E34;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 0px;
    padding-right: 0px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

hr {
    background-color: transparent;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #000;
    margin: 1em 0;
    padding: 0;
}

.index-image-one, .index-image-two {
    position: relative;
    opacity: 0.95;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.index-image-one {
    /* The image used */
    background-image: url(../Images/index-image-1.png);
    height: 645px;
    width: 100%;
}

.index-image-two {
    /* The image used */
    background-image: url(../Images/index-image-2.png);
    height: 733px;
    min-width: 926px;
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

.caption span.border {
    background-color: #5c5c5b;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
    padding-right: 7px;
}

.article {
    background-color: #5c5c5b;
    color: #ddd;
    text-align: center;
    padding: 40px 80px;
    text-align: justify;
}

.article-two {
    background-color: inherit;
    color: #ddd;
    text-align: center;
    padding: 40px 80px;
    text-align: justify;
}

footer {
    padding-left: 15px !important;
    padding-right: 15px !important;
    border-top: 1px solid black;
    padding-top: 15px;
}

.container {
    width: 90% !important;
    color: #fff;
}

.dropdown-main-menu {
    height: 50px;
}

.modal-title, .modal-body label {
    color: #333;
}


/*CUSTOM CSS*/

.custom-table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.custom-table td, .custom-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.custom-table tr:nth-child(even){background-color: #282E34;}

.custom-table tr:hover {background-color: #ddd; color: #222;}

.custom-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #5c5c5b;
    color: white;
}

.gi-12x {
    font-size: 1.2em;
}

.gi-15x {
    font-size: 1.5em;
}

.gi-2x {
    font-size: 2em;
}

.gi-3x {
    font-size: 3em;
}