@model ARMS.Data.Models.Lecture

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.Success)
{
    <h2>Successfully deleted!</h2>
}
else
{
    <h2>Something went wrong!</h2>
}

<div class="form-actions no-color">
    @Html.ActionLink("Back to List", "Index")
</div>
