@{
    ViewBag.Title = "About";
}
<h2>Tired of manually recording attendance?</h2>
<h3>We have ARMS for you!</h3>
<br />

<div class="row">
    <div class="col-md-6">
        <p class="text-danger">But what is ARMS?</p>
        <p>It's a free software that allows lecturers to record attendance without having to waste 10 minutes of calling out names!</p>
        <div class="about-image-one"></div>
    </div>
    <div class="col-md-6">
        <p class="text-danger">Can't we achieve this by passing a list for students to mark themselves?</p>
        <p>Yes, but this method's flaw is the inaccurate results, how can everyone be here if the room is half empty?</p>
        <div class="about-image-two"></div>
    </div>
</div>
<br />
<p>Because ARMS is free software, it doesn't require from you to buy any external software!</p>
<p>You only need an Android OS smartphone.</p>
<p>But how does it work?</p>
<p><a href="#">Download</a> our user guide and get started.</p>

