@{
    ViewBag.Title = "Home Page";
}

<div class="index-image-one">
    <div class="caption">
        @*<span class="border">ARMS</span>*@
    </div>
</div>
<div class="article">
    <p class="lead">ARMS - is a free web tool for recording and monitoring attendance of students for their institutional courses.</p>
    <p><a href="/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="index-image-two"></div>
<div class="article">
    <p class="lead">However, the software is not limited to institutions, ARMS may be used for all kinds of private events!</p>
    <p><a href="/Account/Register" class="btn btn-primary btn-lg">Join &raquo;</a></p>
    <br />
    <div class="row">
        <hr />
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                To get a better overview of our tool, we suggest our users to watch the following video that demonstrates how ARMS is used.
            </p>
            <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Lorem Ipsum</h2>
            <p>Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Support ARMS</h2>
            <p>If you find our system useful and want to support the development, you can do so below:</p>
            <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
        </div>
    </div>
</div>